<!DOCTYPE html>
<html lang="en">
  <head>
    <title>luma</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">
    <meta name="theme-color" content="#010101">
    <meta property="og:title" content="luma">
    <meta property="og:url" content="https://fulcrum.lol">
    <meta property="og:description" content="A feature-rich multi purpose bot">
    <link rel="icon" href="https://cdn.discordapp.com/avatars/1263203971846242317/66732b7e45ff8af93145cca047c00ab5.png?size=1024">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>luma</h1>
    <div class="statistics">Used by <highlight>{{ users }}</highlight> members in <highlight>{{ guilds }}</highlight> servers.</div>
    <div class="redirects">
        <ul class="horz-list">
            <li><a href="https://fulcrum.lol/discord">Support</a></li>
            <li><a href="https://fulcrum.lol/invite">Invite</a></li>
            <li><a href="https://fulcrum.lol/commands">Commands</a></li>
        </ul>
    </div>
  </body>
</html>