jishaku
rembg
playwright
gitpython
pyparsing
colorama
aiohttp_cors
Wand
colorthief
dateparser
uvicorn
python-dotenv
validators
roblox
asyncspotify
aiomisc
cashews[redis]
redis
tornado
xxhash
asyncpg
munch
loguru
humanize
lxml
psutil
pylast
git+https://github.com/parelite/discord.py
shazamio
pomice
bs4
rapidfuzz
asyncpraw
lru_dict
async_lru
yt_dlp
lyricsgenius
tuuid